
/*********************
MAIN ELEMENTS
***********************/

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', Roboto, sans-serif;
  font-style: normal;
  max-width: 100%;
}

img {
    width: 100%;
}


/*********************
HEADER
***********************/

header {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: yellow;
}

#logo {
    display: block;
    max-width: 300px;
    padding-top: 5px;
    width: 100%;
    margin: auto;
}

/*********************
NEW NAVIGATION BAR
********************/
nav {
  align-content: center;
  overflow: hidden;
  text-align: center;
  margin-top: 0;
  padding-bottom: 12px;
  width: auto;
  background-color: green;
}

nav ul {
  list-style: none;
  margin-left: 45px;
  padding: 0;
}

nav li {
    float: left;
    display:inline-block;
   margin-bottom: 20px;
}

nav a {
    float: left;
    display: inline;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border: 1px solid red;
    font: bold 1em Arial, Helvetica;   
    background-color: red;
    background-image: linear-gradient(#bb413b, red);
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.8); 
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 0 rgba(0, 0, 0, 0.7), 0 2px 2px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
}

nav a:hover {
    background-color: #bb413b;
    background-image: linear-gradient(#831608, #bb413b);
}

nav a:active {
    background: #bb413b;
    position: relative;
    top: 2px;    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset; 
}

/************************
BODY ELEMENTS
*************************/
img {
    width: 100%;
    margin-top: 0;
   
}

/*****************
FOOTER
*****************/

footer {
  font-size: 1em;
  text-align: center;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0.1px;
  color: green;
  background-color: yellow;
}


#facebook-icon {
  height: 55px;
  width: 55px;
  padding-left: 10px;
  padding-right: 10px;
}

#instagram-icon {
  height: 45px;
  width: 59px;
  margin: 0 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#twitter-icon {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/******************************
    OVERVIEW PAGE
******************************/


.overview_paragraphs {
    background-color: white;
    color: grey;
    text-align: justify;
    padding: 0 80px 20px 80px;
}

.overview_heading {
    color: green;
    font-weight: bold;
}

.overview_caption {
    text-align: center;
    color: white;
    background-color: grey;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.overview_content {
    margin-left: 30px;
    margin-right: 30px;
}

/******************************
    INVESTOR PAGE
******************************/

table {
  width: 80%;
  border: 3px solid green;
  margin-left: 60px;
  margin-right: 60px;
  align-content: space-between;
}

th, td {
  padding: 20px;
  text-align: left;
}

thead, tfoot {
  background-color: red;
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid green;
}

tbody tr:nth-child(odd) {
  background-color: yellow;
}

tbody tr:nth-child(even) {
  background-color: lightgreen;
}

table {
  background-color: green;
  
}#investor_body {
 margin-bottom: 15px;
 margin-top: 15px;

/******************************
    GALLERY PAGE
******************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
margin: 0;
padding: 5%;
font-size: 1em;
color: white;
background-color: grey;
font-style: italic;
text-decoration: none;
text-align: center;
}

a{
  text-decoration: none;
}


/******************
CONTACT PAGE
*****************/

.contact-info {
list-style: none;
padding: 0;
margin: 0;
font-size: 0.9em;
}

.contact-info a{
display: block;
min-height: 20px;
background-repeat: no-repeat;
background-size: 20px 20px;
padding: 0 0 0 30px;
margin: 0 0 10px;
}

.contact-info li.phone a {
background-image: url('../img/phone.png');
}

.contact-info li.mail a {
background-image: url('../img/e-mail.png');
}

.contact-info li.twitter a {
background-image: url('../img/twitter.png');
}

.contact-info li.instagram a {
background-image: url('../img/instagram.png');
}

.contact_header {
    color: green;
    text-align: left;
}
